/* classe ActionShowProgram */

.spectacle-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.spectacle-item {
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.spectacle-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.spectacle-item img {
    width: 100%;
    height: auto;
    display: block;
}

.spectacle-item-content {
    padding: 10px;
    text-align: center;
}

/* SpectacleRenderer */

.image-container-compact-render {
    position: relative;
    display: inline-block;
}
.image-compact {
    display: block;
    width: 350px;
    height: 437px;
}
.corner-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
}
.corner-text {
    position: absolute;
    bottom: 10px;
    left: 5px;
    color: white;
    font-size: 15px;
    text-align: left;
    line-height: 1.2;
    font-weight: bold;
}