/* Classe ActionShowProgram */
.spectacle-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.spectacle-item {
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.spectacle-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.spectacle-item .image-compact {
    width: 100%;
    height: auto;
    display: block;
}

.spectacle-item .corner-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65%;
    height: auto;
    display: block;
    opacity: 70%;
}

.spectacle-item-content {
    padding: 10px;
    text-align: center;
}

/* SpectacleRenderer */
.image-container-compact-render {
    position: relative;
    display: inline-block;
}

.corner-text {
    position: absolute;
    bottom: 10px;
    left: 5px;
    color: white;
    font-size: 15px;
    text-align: left;
    line-height: 1.2;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.titre {
    background-color: white;
    color: #333;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.nav ul {
    margin: 0;
}

li {
    list-style-type: none;
}

.nav {
    height: 10%;
    display: flex;
    justify-content: center;
}

.nav li {
    margin: auto;
}

.nav a {
    text-decoration: none;
    color: #FF0000; /* Rouge éclatant pour plus de vivacité */
    font-weight: bold;
    padding: 0.5rem 1rem;
    background-color: #ffe6e6;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #ffcccc;
}

.resultat {
    padding: 1%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#user {
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 0;
    padding: 1%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}

#filtre {
    margin: 0;
    background-color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    width: 170px;
    box-shadow: none;

}


/* Button styling */
button {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
button:hover {
    background-color: #cc0000;
}

/* Focus effect on input and select */


form > input , form > select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}


form > input:focus, form > select:focus, form > #date:focus{
    border-color: #ff0000;
    outline: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-button {
    background-color: #FF0000;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}